<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

	<select id="selectFreeBoard" resultType="com.our_middle_project.dto.BoardDTO" parameterType="com.our_middle_project.dto.BoardDTO">
		SELECT  A.BOARD_NO AS boardNo,
		        A.BOARD_TITLE AS boardTitle,
		        A.BOARD_CONTENT AS boardContent,
		        A.CREATED_DATE AS createdDate,
		        A.VIEW_COUNT AS viewCount,
		        B.MEM_ID AS memId
		FROM BOARD A
		INNER JOIN MEMBER B ON (A.MEM_NO = B.MEM_NO)
		WHERE A.TYPE_NO = #{findBoard}
		ORDER BY boardNo
	</select>
	
	<select id="selectBoardCont" resultType="com.our_middle_project.dto.BoardDTO">
		SELECT  A.BOARD_NO AS boardNo,
		        A.BOARD_TITLE AS boardTitle,
		        A.BOARD_CONTENT AS boardContent,
		        A.CREATED_DATE AS createdDate,
		        A.VIEW_COUNT AS viewCount,
		        B.MEM_ID AS memId
		FROM BOARD A
		INNER JOIN MEMBER B ON (A.MEM_NO = B.MEM_NO)
		WHERE A.BOARD_NO=#{boardNo}
	</select>
	
	<update id="updateBoard" parameterType="com.our_middle_project.dto.BoardDTO">
			UPDATE BOARD 
			   SET BOARD_TITLE=#{boardTitle},
		    	   BOARD_CONTENT=#{boardContent}
			 WHERE BOARD_NO=#{boardNo} AND MEM_NO=#{memNo}
	</update>
	
</mapper>