<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gameLogMapper">

    <insert id="insertGameLog" parameterType="com.our_middle_project.dto.GameLogDTO">
        INSERT INTO GAME_LOG (
            GAME_LOG_NO, 
            SCORE, 
            START_TIME, 
            END_TIME,
            MEM_NO, 
            LEVEL_NO,
            COMBO, 
            CLEAR_TIME
        )
        VALUES(
        	SEQ_GAME_LOG.NEXTVAL,
        	#{score}, 
        	#{startTime, jdbcType=TIMESTAMP}, 
        	#{endTime, jdbcType=TIMESTAMP},
        	#{memNo}, 
        	#{levelNo}, 
        	#{combo}, 
        	#{clearTime}
       	)
    </insert>

</mapper>




