<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rankingMapper">

	<select id="selectRanking" resultType="RankingDTO">
		<![CDATA[
		    SELECT *
		    FROM (
		        SELECT
		            R.LEVEL_NO,
		            M.MEM_ID,
		            M.NICKNAME,
		            R.SCORE_BEST,
		            R.SCORE_TOTAL,
		            R.SCORE_COUNT,
		            R.SCORE_AVG,
		            R.PLAYED_LAST_DATE,
		            L.COMBO,
		            L.CLEAR_TIME,
		            ROW_NUMBER() OVER (PARTITION BY R.LEVEL_NO ORDER BY R.SCORE_BEST DESC) AS RN
		        FROM
		            GAME_RANKING R
		        INNER JOIN MEMBER M
		            ON R.MEM_NO = M.MEM_NO
		        INNER JOIN GAME_LOG L
		            ON R.MEM_NO = L.MEM_NO
		           AND R.LEVEL_NO = L.LEVEL_NO
		           AND R.PLAYED_LAST_DATE = L.END_TIME
		    )
		    WHERE RN <= 50
		    ORDER BY LEVEL_NO ASC, SCORE_BEST DESC
		]]>
		</select>

</mapper>
