<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="mappers.reviewMapper">

  <!-- BOARD INSERT
       - BOARD_TITLE 제외(제목 없음, NULL 허용 전제)
       - PK는 트리거(SEQ_BOARD.NEXTVAL)로 생성
       - INSERT 후 SEQ_BOARD.CURRVAL 회수하여 dto.boardNo 세팅 -->
  <insert id="insertBoard" parameterType="com.our_middle_project.dto.ReviewDTO">
    <selectKey keyProperty="boardNo" resultType="int" order="AFTER">
      SELECT SEQ_BOARD.CURRVAL FROM DUAL
    </selectKey>
    INSERT INTO BOARD (
      BOARD_CONTENT, CREATED_DATE, UPDATED_DATE, MEM_NO, TYPE_NO
    ) VALUES (
      #{boardContent}, SYSDATE, SYSDATE, #{memNo}, 2
    )
  </insert>

  <!-- BOARD_IMAGE INSERT (파일 메타 저장; FILE_NO는 트리거) -->
  <insert id="insertImage" parameterType="com.our_middle_project.dto.FileImageDTO">
    INSERT INTO BOARD_IMAGE (
      FILE_NAME, FILE_PATH, FILE_SIZE, FILE_TYPE, TYPE_NO, BOARD_NO, UPLOAD_DATE
    ) VALUES (
      #{fileName}, #{filePath}, #{fileSize}, #{fileType}, #{typeNo}, #{boardNo}, SYSDATE
    )
  </insert>

  <!-- 작성자 1회 별점(정수 1~5) UPSERT -->
  <update id="mergeAuthorStar" parameterType="map">
    MERGE INTO BOARD_STAR T
    USING (
      SELECT #{boardNo} AS BOARD_NO,
             #{memNo}  AS MEM_NO,
             #{star}   AS STAR
      FROM DUAL
    ) S
    ON (T.BOARD_NO = S.BOARD_NO AND T.MEM_NO = S.MEM_NO)
    WHEN MATCHED THEN
      UPDATE SET T.STAR = S.STAR, T.UPDATED_DATE = SYSDATE
    WHEN NOT MATCHED THEN
      INSERT (STAR_NO, BOARD_NO, MEM_NO, STAR, CREATED_DATE, UPDATED_DATE)
      VALUES (SEQ_BOARD_STAR.NEXTVAL, S.BOARD_NO, S.MEM_NO, S.STAR, SYSDATE, SYSDATE)
  </update>

</mapper>