#dashboard-main .card-container {
	display: flex;
	flex-direction: column;
	gap: 0px;
	width: 100%;
	height: 100%;
}

#dashboard-main .card-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0px;
	flex-shrink: 0;
}

#dashboard-main .card {
	background-color: var(--bg-sidebar);
	padding: 30px;
	border: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	border-radius: 0px;
}

#dashboard-main .card-header {
	color: var(--text-muted);
	margin-bottom: 15px;
}

#dashboard-main .card-header h3 {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
}

#dashboard-main .card-body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

#dashboard-main .card-body .main-number {
	font-size: 3rem;
	font-weight: 700;
	color: var(--text-light);
}


#dashboard-main .chart-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	min-height: 0;
	gap: 0px;
}

#dashboard-main .chart {
	background-color: var(--bg-sidebar);
	padding: 20px;
	border: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 0;
}


#dashboard-main .chart-header {
	flex-shrink: 0;
	margin-bottom: 15px;
}

#dashboard-main .chart-header h3 {
	margin: 0;
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--text-light);
}


#dashboard-main .chart-body {
	flex-grow: 1;
	position: relative;
	min-height: 0;
}

#dashboard-main .chart canvas {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
	left: 0;
	top: 0;
}