/* 게임홈  */

body{
	margin: 0;
	padding: 0;
	
	color: white;
	
	overflow: hidden;
		
	min-width: 1500px;
	min-height: 100vh;
	
	user-select: none;
	
	background-image: url('../../images/logins/loginBack.png');
	background-size: 50% 100%;
}


/* 조승희 수정 1105 */

#container-top {
	
	width: 100%;
	height: 100vh;
	
}

/* 전체요소 */
#container{

	width: 100%;
	height: 100vh; 
	
}

/* 상단요소 */
#header{
    width:100%;
    height:10%;
    display: flex;
    justify-content: flex-end; /* 우측 정렬 */
    align-items: center;       /* 세로 중앙 */
    box-sizing: border-box;
    padding: 0 35px;
}

/* 우측 상단에 버튼 네비게이션  */
#topNav{
   
    /* 조승희 수정 251105 */
    position: relative;

}

#nickname{
	font-size: 15px;
	color: white;
}

#menuBtn{
    width:100px;
    height:60px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

#menuItems{			/* 메뉴 초기 상태 숨김 */
    position: absolute;
    top: 65px; 		/* 버튼들이 내려올 위치 */
    right: 10;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#topNav:hover #menuItems {	/* 호버 시 메뉴 나타나기 */
    max-height: 300px; 
    max-width: 100px;
}

#menuItems div {		/* 호버시 나오는 메뉴 아이템 */
	padding: 10px 20px; 
} 

#menuItems button {		/* 호버시 나오는 버튼 */
    background: transparent;
    border: none;
    color: white;
    font-size: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    
    white-space: nowrap		/* 줄바꿈 안하기 */
}

#menuItems.show {		/* 호버해서 메뉴가 열렸을 때 */
    max-height: 200px; 
    max-width: 200px;
}
.text{
	font-size: 13px;
}

/* =========== 중앙 메인 ===========*/
#center {
    display: flex;      /* 좌우 나란히 */
    width: 100%;
    height: 90%;        /* 헤더 10% 제외 */
}


/* ========================좌측 구역======================== */
#left{
	width:40%;
 	 
 	/* 조승희 수정 251105*/
 	height: 100%;
 	position: relative;
 	
}

.twinCards{			/* 좌측 이미지 */
	width: 750px;
	height: 750px;
	transform: rotate(-20deg);
	
	user-select: none;
}

/* ------모달구역------ */
/* 모달 배경 */
#gameModal {
	z-index: 100;
	
    display: none; /* 초기 숨김 */
    position: absolute;
    top: 53%; 
    left: 57%;
    
    transform: translate(-50%, -50%);
    
    width: 100%;
    max-width: 750px;
    height: 80%;
   
    border-radius: 20px;
    
    justify-content: center;
    align-items: center;
    
    background: rgba(0,0,0,0.1);
	backdrop-filter: blur(5px);
  
    flex-direction: column;
    padding: 20px;
    color: white;
    text-align: center;
}

/* 모달 내부 컨텐츠 */
#modalContent h2 {
    font-size: 2rem;
    margin-bottom: 30px;
   
}

/* 모드 버튼 공통 */
#modalContent button {
   background: radial-gradient(circle at top left, #0abfff, #1b1b40);
	
    color: #fff;
    border: none;
    
    padding: 15px 25px;
    margin: 10px;
    
    font-size: 1.2rem;
    
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}


/* 닫기 버튼 */
#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    
    background: transparent;
    color: #ff416c;
    font-size: 1.2rem;
    border: 2px solid #ff416c;
    border-radius: 10px;
    
    padding: 5px 10px;
    cursor: pointer;
}

#singleMode button {
    display: block;         /* 한 줄 한 줄 */
    width: 400px;           /* 버튼 가로 길이 */
    margin: 30px auto;      /* 위아래 간격 + 가로 중앙 */
}

#singleMode button:hover {
    background-color: #39f;  /* 색상 변화 */
    transform: scale(1.05);  /* 살짝 커짐 */
    color: #fff;             /* 글자 색상 변화 */
}

/* ===============우측 ================*/
#right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;    /* 세로 배치 */
    justify-content: flex-start;
    padding: 20px;
/*     margin:30px; */
    box-sizing: border-box;
    gap: 20px;                 /* 카드와 버튼 간격 */
}

#right button {		/* 우측에 있는 영역들의 모든버튼 */
  all: unset;            /* 기본 스타일 제거 */
  cursor: pointer;
}

				/*========== 카드 영역 ============*/
#cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;  /* 핵심 - 두번째줄 가운데 정렬 */
  gap:50px;
  margin-top:30px;
}

.card {
/*  정확한 비율로 5등분   
	flex:0 0 calc((100% - 2 * 50px) / 3);  */
	
	/* px단위로 조절해서 맞추기 */
    flex: 0 0 250px;
    
    height: 300px;             /* 원하는 높이 */ 
    border-radius: 20px;
    
	/* display: flex; */
	position: relative;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: 50px;
    border: 0;
    
    background-color:transparent;

}

/* ======================= */
.card-inner {
	
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* 3D 회전 가능 */
    transition: transform 1s; /* 부드러운 회전 */
    transform: rotateY(0deg); /* 기본 상태 */
    
    background-color:transparent;
}

.card-front,
.card-back {
    position: absolute;
   
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    
    font-weight: bold;
    backface-visibility: hidden;
    transition: transform 0.7s, opacity 0.3s;
    
    border:0px;

}

.card-back {
	
    background-color: #333;

	
    color: white;
    

}
   


/* 앞면 텍스트 기본 숨김 */
.card-front {
    border-radius: 20px;
    color: white;
    font-size: 40px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    
    
    display: flex;
    flex-direction: column;  /* 세로로 쌓기 */
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding-bottom: 30px;
    
    background-color:#333;
    
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
    
}



