/* 게임홈  */

body{
	margin: 0;
	padding: 0;
	
	color: white;
	
	overflow: hidden;
		
	min-width: 1500px;
	min-height: 100vh;
	
	user-select: none;
	
	background-image: url('../../images/logins/loginBack.png');
	background-size: 50% 100%;
}


/* 조승희 수정 1105 */

#container-top {
	
	width: 100%;
	height: 100vh;

}

/* 전체요소 */
#container{

	width: 100%;
	height: 100vh;
	
	position: relative; 
	overflow: hidden;
	
}

/* 상단요소 */
#header{
    width:100%;
    height:10%;
    display: flex;
    justify-content: flex-end; /* 우측 정렬 */
    align-items: center;       /* 세로 중앙 */
    box-sizing: border-box;
    padding: 0 35px;
}

/* 우측 상단에 버튼 네비게이션  */
#topNav{
   
    /* 조승희 수정 251105 */
    position: relative;

}

#nickname{
	font-size: 15px;
	color: white;
}

#menuBtn{
    width:100px;
    height:60px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

#menuItems{			/* 메뉴 초기 상태 숨김 */
    position: absolute;
    top: 65px; 		/* 버튼들이 내려올 위치 */
    right: 10;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

#topNav:hover #menuItems {	/* 호버 시 메뉴 나타나기 */
    max-height: 300px; 
    max-width: 100px;
}

#menuItems div {		/* 호버시 나오는 메뉴 아이템 */
	padding: 10px 20px; 
} 

#menuItems button {		/* 호버시 나오는 버튼 */
    background: transparent;
    border: none;
    color: white;
    font-size: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    
    white-space: nowrap		/* 줄바꿈 안하기 */
}

#menuItems.show {		/* 호버해서 메뉴가 열렸을 때 */
    max-height: 200px; 
    max-width: 200px;
}
.text{
	font-size: 13px;
}

/* =========== 중앙 메인 ===========*/
#center {
    display: flex;      /* 좌우 나란히 */
    width: 100%;
    height: 90%;        /* 헤더 10% 제외 */
}


/* ========================좌측 구역======================== */
#left{
	width:40%;
 	 
 	/* 조승희 수정 251105*/
 	height: 100%;
 	
 	overflow: hidden;
}

.twinCards{			/* 좌측 이미지 */
	width: 750px;
	height: 750px;
	transform: rotate(-20deg);
	
	user-select: none;
}

/* ===============우측 ================*/
#right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;    /* 세로 배치 */
    justify-content: flex-start;
    padding: 20px;
/*     margin:30px; */
    box-sizing: border-box;
    gap: 20px;                 /* 카드와 버튼 간격 */
}

#right button {		/* 우측에 있는 영역들의 모든버튼 */
  all: unset;            /* 기본 스타일 제거 */
  cursor: pointer;
}

				/*========== 카드 영역 ============*/
#cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;  /* 핵심 - 두번째줄 가운데 정렬 */
  gap:50px;
}

.card {
    flex: 0 0 250px;
    height: 350px;             /* 원하는 높이 */ 
    
	/* display: flex; */
	position: relative;
    justify-content: center;
    align-items: center;
    
    color: white;
    border: 0;
    
    background-color:transparent;

}

/* ======================= */
.card-inner {
	
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* 3D 회전 가능 */
    transition: transform 1s; /* 부드러운 회전 */
    transform: rotateY(0deg); /* 기본 상태 */
    
    background-color:transparent;
    border-radius: 10px;
    
    box-shadow: 5px 5px 10px rgba(20, 50, 30, 0.8);
}

.card-front,
.card-back {
    position: absolute;
   
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    backface-visibility: hidden;
    
    background: rgba(0, 0, 0, 0.2);
    
    cursor: pointer;
}

.card-front-1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	
}

.card-back {
	
    color: white;
    /* border: 1px solid rgba(20, 50, 30); */
    border: 1px solid rgba(50, 100, 70, 0.8);
}
   


/* 앞면 텍스트 기본 숨김 */
.card-front {
    
    transform: rotateY(180deg);
    backface-visibility: hidden;
    
    color: white;
    box-shadow: none;
    
	box-shadow: 
		0 0 20px rgba(20, 50, 30, 0.8),
		0 0 40px rgba(25, 70, 35, 0.6),
		0 0 80px rgba(20, 60, 30, 0.4),
		inset 0 0 20px rgba(25, 70, 35, 0.8),
		inset 0 0 40px rgba(15, 40, 25, 0.6);
		
	border: 1px solid rgba(255, 255, 255, 0.6);
    
}

.card-front span {
	
    font-family: 'FunflowSurvivor';
    font-size: 30px;
    
    writing-mode: vertical-rl;
    text-orientation: upright;
    
    color: rgba(50, 100, 70);
	
}

.card-back svg {

	width: 20%;
	height: 20%;
	
	fill: rgba(50, 100, 70);

}

.card-back span {

	font-family: 'FunflowSurvivor';
	font-size: 28px;
	color: rgba(50, 100, 70);

}

.card.flipped .card-inner {
    transform: rotateY(180deg);
    
}


/* ------모달구역------ */
/* 모달 배경 */
.level-modal-on {
	z-index: 100;
	
    display: block;
    position: absolute;
    top: -1%; 
    left: -1%;
    
    width: 45%;
    height: 104%;

/*     background: rgba(0,0,0,0.1);
	 */
  
    color: white;
    
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
	
	box-shadow: 
		0 0 20px rgba(20, 50, 30, 0.8),
		0 0 40px rgba(25, 70, 35, 0.6),
		0 0 80px rgba(20, 60, 30, 0.4),
		inset 0 0 20px rgba(25, 70, 35, 0.8),
		inset 0 0 40px rgba(15, 40, 25, 0.6);
		
	/* border-right: 1px solid rgba(30, 120, 40, 0.8); */
	border-radius: 12px;
	
	transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
	
}

.level-modal-off {
	z-index: 100;
	
    display: block;
    position: absolute;
    top: -1%; 
    left: -100%;
    
    width: 45%;
    height: 104%;

/*     background: rgba(0,0,0,0.1);
	 */
  
    color: white;
    
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
	
	box-shadow: 
		0 0 20px rgba(20, 50, 30, 0.8),
		0 0 40px rgba(25, 70, 35, 0.6),
		0 0 80px rgba(20, 60, 30, 0.4),
		inset 0 0 20px rgba(25, 70, 35, 0.8),
		inset 0 0 40px rgba(15, 40, 25, 0.6);
		
	/* border-right: 1px solid rgba(30, 120, 40, 0.8); */
	border-radius: 12px;
	
	transition: all 0.5s cubic-bezier(0.6, 0, 1, 0.4);
	
}

#modalContent {
	
	display: flex;
	justify-content: flex-end;
    align-items: center;
    
	width: 100%;
	height: 100%;

	position: relative;
	
}

.level-card-box {
	
	display: block;
	width: 32%;
	height: 44%;
	
	visibility: hidden;
	
	position: absolute;
	z-index: 0;
	
	background: transparent;
	
}
.level-card {
	
	display: block;
	width: 100%;
	height: 100%;
	/* 배경: 검정색 투명도 0.2 */
	background-color: rgba(0, 10, 0, 0.7);
	/* 테두리: 연회색 */
	border: 6px solid rgba(180, 180, 180, 0.6);
	box-sizing: border-box;
	border-radius: 10px;
	/* 그림자: 은은한 초록빛, 번짐 작게 */
	box-shadow: 
		0 0 8px rgba(80, 180, 80, 0.6), /* 가까운 초록빛 */
	    0 0 16px rgba(80, 220, 80, 0.4), /* 살짝 퍼지는 초록빛 */
	    inset 0 0 6px rgba(100, 200, 100, 0.5); /* 안쪽 은은한 빛 */

	cursor: pointer;
	
	transition: all 0.3s ease-in-out;
}

.level-card-box:hover {
	z-index: 1;
}

.level-card-box:hover .level-card{

	transform: scale(1.02);
	border: 6px solid rgba(255, 255, 255, 0.8);
	box-shadow: 
	    0 0 20px rgba(100, 255, 100, 0.4),   /* 부드럽게 퍼지는 바깥 빛 */
	    0 0 40px rgba(120, 255, 120, 0.25),  /* 더 멀리 확산되는 초록빛 */
	    inset 0 0 12px rgba(100, 240, 100, 0.3); /* 안쪽 은은한 퍼짐 */

}

.card-btns {

	background: transparent;
	
	width: 100%;
	height: 100%;

	border-radius: 10px;
	border: none;
	
	font-family: 'JeongseonArirangHon';; 
	text-align: center;
	font-size: 3rem;		
	color: rgba(180, 180, 180, 0.6);
	
}

.card-btns:hover {	
	color: white;
	transition: all 0.3s ease-in-out;
}


/* 닫기 버튼 */
#closeModal {
    all: unset;
    
    background: transparent;
    
    border: none;
    
    margin-right: 15px;
    
    color: rgb(140, 180, 150);
    font-size: 1.6rem;
    
    transition: 0.5s;
    
    cursor: pointer;
}

#closeModal:hover {

	color: white;
	text-shadow: 
		0 0 6px rgba(80, 160, 110, 0.6), 
		0 0 14px rgba(100, 200, 130, 0.4), 
		0 0 24px rgba(140, 255, 190, 0.2);

}

/* 
#singleMode button {
    display: block;         한 줄 한 줄
    width: 400px;           버튼 가로 길이
    margin: 30px auto;      위아래 간격 + 가로 중앙
}

#singleMode button:hover {
    background-color: #39f;  색상 변화
    transform: scale(1.05);  살짝 커짐
    color: #fff;             글자 색상 변화
}
 */




