.DS_Store
Thumbs.db
.metadata
.settings/
.project
.classpath
/target/
/build/
/bin/
/Servers/
/tmp/
*.tmp
*.bak
*.swp
*.log
/MyGuestbook
Our_Middle_Project/build/classes/db.properties
Our_Middle_Project/src/main/java/db.properties
Our_Middle_Project/.vscode/settings.json
Our_Middle_Project/src/main/webapp/js/common.js
Our_Middle_Project/src/main/webapp/js/common.js
