@charset "UTF-8";

	/* #00aaff 파랑 */
	/* #D6D6D6 밝은회색 */
	/* #7C7D7C 중간회색 */
input[type="date"]{
	
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
}

/* Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
	color: #D6D6D6;
	opacity: 0;
	display: none;
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
	color: #D6D6D6;
	display: none;
}

/* Edge, IE */
input[type="date"]::-ms-clear,
input[type="date"]::-ms-expand {
	color: #D6D6D6;
	display: none;
}

#membershipModal {
	
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-end;
	background-color: transparent;
	
	width: 100%;
	min-width: 550px;
	height: 100vh;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	transition: 0.5s;
}

#membershipModal input:focus {
  border: none;
  outline: none;
}

#membershipModal input::placeholder {
  color: #D6D6D6; 
  opacity: 1;     
}

#membershipModal input {
	color: #D6D6D6;
}

/* Chrome, Edge, Safari */
#membershipModal input:-webkit-autofill,
#membershipModal input:-webkit-autofill:hover, 
#membershipModal input:-webkit-autofill:focus, 
#membershipModal input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* Firefox */
#membershipModal input:-moz-autofill {
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    -moz-text-fill-color: white;
}

.mem-modal-off {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.5s;
  visibility: hidden;
}

.mem-modal-on {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(0);
  transition: transform 0.5s;
  visibility: visible;
}

#membershipModal svg {

	width: 61%;
	height: 61%;
	
	fill: #00aaff;

}

.membership-container {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 25%;
	height: 82%;
	
	margin-right: 2%;
	margin-top: 3%;
	
	background: rgba(0, 0, 0, 0.2);
	
	border-radius: 12px;
	border: 2px solid rgba(30, 40, 120, 0.8);
	box-shadow: 
		0 0 20px rgba(30, 40, 60, 0.8),
		0 0 40px rgba(30, 40, 100, 0.6),
		0 0 80px rgba(30, 40, 80, 0.4),
		inset 0 0 20px rgba(30, 40, 100, 0.8),
		inset 0 0 40px rgba(30, 40, 40, 0.6);		
	
	color: #D6D6D6;

}

#mem-id-info {
	
	display: flex;
	flex-direction: column;
    align-items: center;
    
    width: 95%;
    height: 18%;
    
    margin-top: 60px;
    
}

.mem-info-block {
	
	display: flex;
    flex-direction: row;
	align-items: center;
	
	width: 100%;
	height: 33%;
	
	border-bottom: 1px solid 1px solid rgba(30, 40, 120, 0.8);
	overflow: hidden;
	
}

.mem-info-block:first-child {
	border-top-left-radius: 8px;     
	border-top-right-radius: 8px;     
	border-bottom-right-radius: 0; 
	border-bottom-left-radius: 0;
}

.mem-info-block:last-child {
	border-top-left-radius: 0;     
	border-top-right-radius: 0;     
	border-bottom-right-radius: 8px; 
	border-bottom-left-radius: 8px;
}

.mem-info-block:not(:first-child) {
	margin-top: -1px;
}

.mem-icon {
	
	display: flex;
	justify-content: center;
    align-items: center;
    
   	width: 8%;
	height: 80%;
	
}

.mem-input {
	
	display: flex;
	flex-direction: row;
    align-items: center;
	
	width: 84%;
	height: 100%;
	
}

.mem-input > input {
	
	width: 100%;
	
	border: none;
	cursor: pointer;
	
	background-color: transparent;
	caret-color: white;
	
}

.pw-check {
	cursor: pointer;
}

#mem-user-info {
	
	display: flex;
	flex-direction: column;
    align-items: center;
    
	width: 95%;
    height: 24%;
    
    margin-top: 20px;
    
}

#mem-user-gender {
	
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 95%;
    height: 6%;
    
    margin-top: 20px;
    border-radius: 8px;
    
}

#mem-user-gender > input {
	
	display: none;
    
}

.user-gender {
	
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    
	width: 48%;
	height: 80%;
	
	cursor: pointer;
	z-index: 0;
	
}

.user-gender:hover {
	border: 1px solid rgba(30, 40, 120, 0.8);
	border-radius: 5px;
}

#mem-user-gender > input:checked + .user-gender {
	
	/* border: 1px solid #00aaff; */
	border: 1px solid rgba(30, 40, 120, 0.8);
	border-radius: 5px;
	color: #00aaff;
	z-index: 1;
	
}

#mem-user-addr {
	
	display: flex;
	flex-direction: column;
    align-items: center;
    
    width: 95%;
    height: 30%;
    
    margin-top: 20px;
    
}

#mem-user-addr .mem-info-block {
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	height: 33%;
	
	overflow: hidden;
}

#mem-user-addr > :first-child {
	border: 1px solid rgba(30, 40, 120, 0.8);
	border-radius: 5px;
	z-index: 1;
}

#mem-user-addr > :first-child:hover > input {
	color: #00aaff;
}

#mem-addr-search {
	
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    
    color: #D6D6D6;
    
}

#mem-user-addr .mem-input > input {
	
	background-color: transparent;
	cursor: default;
	
	color: #D6D6D6;
	
	text-align: center;

}

#mem-user-addr > .mem-info-block:last-of-type > .mem-input > input {
	
	cursor: pointer;

}

#mem-user-addr input[name="userAddr4"] {
	cursor: pointer;
}

.mem-btn-box {
	
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	
	width: 25%;
	height: 10%;
	
	margin-right: 2%;
	
}

.btnBox-left {
	
	display: flex;
    justify-content: center;
    align-items: center;
    
	width: 10%;
	height: 100%;
	
	margin-top: 10px;
	transform: scaleX(-1);
	
	cursor: pointer;

}

.btnBox-left:hover svg path {
	fill: white;
	transition: 0.2s all;
}

.btnBox-left:active svg {
	transform: scale(0.9);
}

.btnBox-right {
	
	display: flex;
    justify-content: center;
    align-items: center;
    
	width: 90%;
	height: 100%;
	
	margin-top: 5px;
}

.btnBox-right > input {
    
	width: 50%;
	height: 100%;
	
	border: none;
	background-color: transparent;
	
	font-family: 'KccAnchangho';
	font-size: 5vh;
	color: #00aaff;
	
	transition: 0.5s;
	cursor: pointer;
	
}

.btnBox-right > input:hover {
	transition: 0.5s;
	text-shadow:
		0 0 8px #00aaff,
		0 0 15px #00aaff,
		0 0 25px #00aaff,
		0 0 40px #00aaff;
	color: #fff;
}

.btnBox-right > input:active {
	transition: 0.2s;
	transform: scale(0.9);
}

.non-join-Modal-back {
	background-color: #2A2F3A;
	border: 2px solid rgba(60, 80, 140, 0.8);
	color: #e0e0e0;	
}

.non-join-btn {
	background-color: #445066;
	color: #e0e0e0;
}

.guideBox {
	display: flex;
	flex-direction: column;
    justify-content: center;
	
	width: 95%;
	
	font-size: 11px;
}

.guideBox span {
	display: none;
	margin-left: 10px;
}

.guideBox .check-ok {
	display: block;
	color: #00aaff;
}

.guideBox .check-no {
	display: block;
	color: #D6D6D6;
}

#birthIcon {
	cursor: pointer;
}




