@charset "UTF-8";

	/* #00aaff 파랑 */
	/* #D6D6D6 밝은회색 */
	/* #7C7D7C 중간회색 */

#membershipModal {
	
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-end;
	background-color: transparent;
	
	width: 100%;
	min-width: 550px;
	height: 100vh;
	
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	transition: 1s;
}

#membershipModal input:focus {
  border: none;
  outline: none;
}

#membershipModal input::placeholder {
  color: #D6D6D6; 
  opacity: 1;     
}

#membershipModal input {
	color: white;
}

.mem-modal-off {
	
	position: absolute;
	top: 0px;
	right: -100%;
	
}

.mem-modal-on {
	
	position: absolute;
	top: 0px;
	right: 0px;
	
}

#membershipModal svg {

	width: 61%;
	height: 61%;
	
	fill: #00aaff;

}

.membership-container {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 25%;
	height: 90%;
	
	margin-right: 2%;
	
	background-color: #1e1e1e;
	
	border-radius: 12px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
	
	color: #D6D6D6;

}

#mem-id-info {
	
	display: flex;
	flex-direction: column;
    align-items: center;
    
    width: 95%;
    height: 18%;
    
    margin-top: 60px;
    
}

.mem-info-block {
	
	display: flex;
    flex-direction: row;
	align-items: center;
	
	width: 100%;
	height: 33%;
	
	border: 1px solid #D6D6D6;
	overflow: hidden;
	
}

.mem-info-block:first-child {
	border-top-left-radius: 8px;     
	border-top-right-radius: 8px;     
	border-bottom-right-radius: 0; 
	border-bottom-left-radius: 0;
}

.mem-info-block:last-child {
	border-top-left-radius: 0;     
	border-top-right-radius: 0;     
	border-bottom-right-radius: 8px; 
	border-bottom-left-radius: 8px;
}

.mem-info-block:not(:first-child) {
	margin-top: -1px;
}

.mem-icon {
	
	display: flex;
	justify-content: center;
    align-items: center;
    
   	width: 8%;
	height: 80%;
	
}

.mem-input {
	
	display: flex;
	flex-direction: row;
    align-items: center;
	
	width: 84%;
	height: 100%;
	
}

.mem-input > input {
	
	width: 100%;
	
	border: none;
	cursor: pointer;
	
	background-color: transparent;
	caret-color: white;
	
}

.pw-check {
	cursor: pointer;
}

#mem-user-info {
	
	display: flex;
	flex-direction: column;
    align-items: center;
    
	width: 95%;
    height: 24%;
    
    margin-top: 20px;
    
}

#mem-user-gender {
	
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 95%;
    height: 6%;
    
    margin-top: 20px;
    
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    
}

#mem-user-gender > input {
	
	display: none;
    
}

.user-gender {
	
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    
	width: 48%;
	height: 80%;
	border: 1px solid #D6D6D6;
	
	cursor: pointer;
	z-index: 0;
	
}

#mem-user-gender > input:checked + .user-gender {
	
	border: 1px solid #00aaff;
	color: #00aaff;
	
	z-index: 1;
	
}

#mem-user-gender label:first-of-type {
	
	border-top-left-radius: 5px;     
	border-top-right-radius: 0;     
	border-bottom-right-radius: 0; 
	border-bottom-left-radius: 5px;
	
}

#mem-user-gender label:last-of-type {
	
	margin-left: -1px;
	
	border-top-left-radius: 0;     
	border-top-right-radius: 5px;     
	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 0;
	
}

#mem-user-addr {
	
	display: flex;
	flex-direction: column;
    align-items: center;
    
    width: 95%;
    height: 24%;
    
    margin-top: 20px;
    
}

#mem-user-addr > :first-child {
	transition: 1s;
	z-index: 1;
}

#mem-user-addr > :first-child:hover {
	border: 1px solid #00aaff;
}

#mem-user-addr > :first-child:hover > input {
	color: #00aaff;
	transition: 1s;
}

#mem-addr-search {
	
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    
    color: #D6D6D6;
    
}

#mem-user-addr .mem-input > input {
	
	margin-left: 15px;
	
	background-color: transparent;
	cursor: default;
	
	color: #D6D6D6;

}

#mem-user-addr input[name="userAddr4"] {
	cursor: pointer;
}

.mem-btn-box {
	
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	
	width: 25%;
	height: 8%;
	
	margin-right: 2%;
	
}

.btnBox-left {
	
	display: flex;
    justify-content: center;
    align-items: center;
    
	width: 10%;
	height: 100%;
	
	margin-top: 10px;
	transform: scaleX(-1);
	
	cursor: pointer;

}

.btnBox-left:hover svg path {
	fill: white;
	transition: 0.2s all;
}

.btnBox-left:active svg {
	transform: scale(0.9);
}

.btnBox-right {
	
	display: flex;
    justify-content: center;
    align-items: center;
    
	width: 90%;
	height: 100%;
	
	margin-top: 5px;
}

.btnBox-right > input {
	
	/* display: flex;
    justify-content: center;
    align-items: center; */
    
	width: 50%;
	height: 100%;
	
	border: none;
	background-color: transparent;
	
	font-family: 'KccAnchangho';
	font-size: 5vh;
	color: #00aaff;
	
	transition: 1s;
	cursor: pointer;
	
}

.btnBox-right > input:hover {
	transition: 1s;
	text-shadow:
		0 0 8px #00aaff,
		0 0 15px #00aaff,
		0 0 25px #00aaff,
		0 0 40px #00aaff;
	color: #fff;
}

.btnBox-right > input:active {
	transition: 0.2s;
	transform: scale(0.9);
}

.non-join-Modal-back {
	background-color: #D6D6D6;
	color: white;	
}

.non-join-btn {
	background-color: #7C7D7C;
}








