.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: var(--bg-sidebar);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.card-header {
    color: var(--text-muted);
    margin-bottom: 15px;
}
.card-header h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.card-body .main-number {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-light);
}

.wide-card {
    grid-column: span 3;
}