<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.our_middle_project.dao.MemberDAO">

<select id="getTotalUserCount" resultType="int">
    SELECT COUNT(MEM_NO) FROM MEMBERS
</select>
<select id="getTodayUserCount" resultType="int">
    SELECT COUNT(MEM_NO) FROM MEMBERS WHERE TRUNC(REG_DATE) = TRUNC(SYSDATE)
</select>


<select id="getDailySignupStats" resultType="java.util.Map">
    SELECT TO_CHAR(days.d, 'YYYY-MM-DD') AS "label", 
    	   COUNT(m.MEM_NO) AS "value"
    
    FROM 
        (SELECT TRUNC(SYSDATE) - LEVEL + 1 AS d FROM DUAL CONNECT BY LEVEL <= 7) days
    
    LEFT JOIN 
        MEMBERS m ON TRUNC(m.REG_DATE) = days.d
    
    GROUP BY 
        days.d
    
    ORDER BY 
        days.d ASC
</select>

</mapper>


<mapper namespace="com.our_middle_project.dao.StatsDAO">

    <select id="getDailySignupStats" resultType="com.our_middle_project.dto.StatsDTO">
        SELECT 
            TO_CHAR(days.d, 'MM-DD') AS "label",
            COUNT(m.MEM_NO) AS "value"
        FROM 
            (SELECT TRUNC(SYSDATE) - LEVEL + 1 AS d FROM DUAL CONNECT BY LEVEL <= 7) days
        LEFT JOIN 
            MEMBERS m ON TRUNC(m.REG_DATE) = days.d
        GROUP BY 
            days.d
        ORDER BY 
            days.d ASC
    </select>

</mapper>
