<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    	https://jakarta.ee/xml/ns/jakartaee 
    	https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd
   	"
    version="6.0">
    
    <!-- 자카르타,톰캣11 버전에 맞추어 xml을 수정함. sts가 기본으로 제공하던 2.4버전 삭제. -->
    <!-- Jakarta JSTL 3.0.x에 맞는 인덱스 셋팅. -->
    
    <welcome-file-list>
		<welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <!-- 세션 유지 시간 설정.-->
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    
     <servlet>
       <servlet-name>FrontController</servlet-name>
       <servlet-class>com.our_middle_project.frontcontroller.FrontController</servlet-class>
	   <load-on-startup>1</load-on-startup> 
	   
	   	 <!-- 파일 첨부 기능이 있는 자료실 관련 설정 -->
	   <multipart-config>
	     <max-file-size>10485760</max-file-size> <!-- 10,485,760 바이트 -> 10MB, 업로드 되는 '단일파일'의 최대크기를 설정 -->
	     <max-request-size>52428800</max-request-size> <!-- 50mb -> 전체 요청의 최대 크기 -->
	     <file-size-threshold>1048576</file-size-threshold> <!-- 1MB, 메모리와 디스크 저장 경계 -->
	   </multipart-config>   
    </servlet>
    
    <servlet-mapping>
       <servlet-name>FrontController</servlet-name>
       <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/our_middle_project_view/error.jsp</location>
    </error-page>
    
     <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/our_middle_project_view/error.jsp</location>
    </error-page>
    
    
</web-app>